<section class="py-5">
  <div class="container">
    <h2>Our Latest Works</h2>
    <ul class="filters">  <!-- Angular *ngFor لو dynamic -->
      <li><a href="#" data-filter="*">All</a></li>
      <li><a href="#" data-filter=".photography">Photography</a></li>
      <!-- باقي الـ filters -->
    </ul>
    <div class="row portfolio-grid" id="portfolioGrid">  <!-- Isotope container -->
      <div class="col-md-4 portfolio-item photography">
        <img src="assets/img/work1.jpg" alt="Work">
      </div>
      <!-- باقي الـ items -->
    </div>
  </div>
</section>