<div class="container py-1">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card p-2 rounded-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="justify-content-end">
            <h3 class="text-center mb-2 fw-bold text-dark">
              {{ isEditMode ? "✏️ تعديل موظف" : "📝 تسجيل موظف" }}
            </h3>
          </div>
          <div class="justify-content-start">
            <span
              class="position-realtive top-0 end-0 bg-danger text-white rounded-circle px-2 py-1"
              style="cursor: pointer"
              (click)="closeForm.emit()"
            >
              ✖
            </span>
          </div>
        </div>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          novalidate
          dir="rtl"
        >
          <div class="col-md-4 text-center my-2" style="width: 100px">
            <!-- <label class="form-label">📸 صورة الموظف</label> -->

            <div class="avatar-upload">
              <img
                [src]="profilePreview || defaultAvatar"
                alt="صورة الموظف"
                class="avatar-img"
              />
              <label for="avatarInput" class="edit-icon">✏️</label>
              <input
                type="file"
                id="avatarInput"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>
          </div>

          <div class="row g-3 text-end">
            <!-- الاسم الأول -->
            <div class="col-md-4">
              <label class="form-label">الاسم الأول</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="FirstName"
              />
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('FirstName')?.touched &&
                  registerForm.get('FirstName')?.invalid
                "
              >
                مطلوب
              </small>
            </div>

            <!-- الاسم الثاني -->
            <div class="col-md-4">
              <label class="form-label">الاسم الثاني</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="SecondName"
              />
            </div>

            <div class="col-md-4">
              <label class="form-label">الإسم الثالت</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="ThirdName"
              />
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('ThirdName')?.touched &&
                  registerForm.get('ThirdName')?.invalid
                "
              >
                مطلوب
              </small>
            </div>

            <!-- التصنيف -->
            <div class="col-md-4">
              <label class="form-label">الرتبة</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select formControlName="UserType">
                  <mat-option *ngFor="let rank of ranks" [value]="rank.code">
                    {{ rank.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('UserType')?.touched &&
                  registerForm.get('UserType')?.invalid
                "
                >مطلوب</small
              >
            </div>

            <!-- الرقم القومي -->
            <div class="col-md-4">
              <label class="form-label">الرقم القومي</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="NationalId"
                maxlength="14"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              />
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('NationalId')?.touched &&
                  registerForm.get('NationalId')?.invalid
                "
              >
                يجب أن يكون 14 رقمًا بالضبط
              </small>
            </div>

            <!-- اسم المستخدم -->
            <div class="col-md-4">
              <label class="form-label">اسم المستخدم</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="UserName"
              />
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('UserName')?.touched &&
                  registerForm.get('UserName')?.invalid
                "
              >
                مطلوب
              </small>
            </div>

            <!-- كلمة المرور -->
            <div class="col-md-4">
              <label class="form-label">
                كلمة المرور
                <span *ngIf="!isEditMode" class="text-danger">*</span>
              </label>

              <input
                type="text"
                class="form-control custom-input"
                formControlName="Password"
                [placeholder]="
                  isEditMode
                    ? 'اتركها فارغة إذا لا تريد تغييرها'
                    : 'أدخل كلمة المرور (الحد الأدنى 6 أحرف)'
                "
              />

              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('Password')?.touched &&
                  registerForm.get('Password')?.hasError('minlength')
                "
              >
                الحد الأدنى 6 أحرف
              </small>

              <small
                class="text-danger"
                *ngIf="
                  !isEditMode &&
                  registerForm.get('Password')?.touched &&
                  registerForm.get('Password')?.hasError('required')
                "
              >
                كلمة المرور مطلوبة
              </small>
            </div>

            <!-- البريد -->
            <div class="col-md-4">
              <label class="form-label">البريد الإلكتروني</label>
              <div class="input-group">
                <input
                  type="email"
                  class="form-control border-start-0 custom-input"
                  formControlName="Email"
                  placeholder="example@domain.com"
                />
              </div>
            </div>

            <!-- رقم الهاتف -->
            <div class="col-md-4">
              <label class="form-label">رقم الهاتف</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="Phone"
                maxlength="11"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              />
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('Phone')?.touched &&
                  registerForm.get('Phone')?.invalid
                "
              >
                يجب أن يكون 11 رقمًا بالضبط
              </small>
            </div>

            <!-- رقم هاتف إضافي -->
            <div class="col-md-4">
              <label class="form-label">رقم هاتف إضافي</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="Phone2"
              />
            </div>

            <!-- الفرع -->
            <div class="col-md-4">
              <label class="form-label">الفرع</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select formControlName="BranchId">
                  <mat-option
                    *ngFor="let branch of branches"
                    [value]="branch.Id"
                  >
                    {{ branch.BranchName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('BranchId')?.touched &&
                  registerForm.get('BranchId')?.invalid
                "
              >
                مطلوب
              </small>
            </div>

            <!-- التصنيف -->
            <div class="col-md-4">
              <label class="form-label">تصنيف الموظف</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select formControlName="Classification">
                  <mat-option
                    *ngFor="let class of classification"
                    [value]="class.code"
                  >
                    {{ class.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('Classification')?.touched &&
                  registerForm.get('Classification')?.invalid
                "
              >
                مطلوب
              </small>
            </div>

            <!-- ✅ الدولة ذات الخبرة -->
            <div class="col-md-4">
              <label class="form-label">خبرة الموظف في</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select formControlName="ExperiencedInCountryIds" multiple>
                  <mat-option *ngFor="let c of countries" [value]="c.id">
                    <div class="d-flex align-items-center gap-2">
                      <img
                        [src]="c.img"
                        alt="{{ c.name }}"
                        width="30"
                        height="20"
                        style="object-fit: cover; border-radius: 4px"
                      />
                      <span>{{ c.name }}</span>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('ExperiencedInCountryIds')?.touched &&
                  registerForm.get('ExperiencedInCountryIds')?.invalid
                "
              >
                مطلوب اختيار الدولة
              </small>
            </div>

            <!-- ✅ هل لديه خبرة كهرباء -->
            <div class="col-md-4">
              <div class="form-check mt-4">
                <input
                  type="checkbox"
                  id="elec"
                  class="form-check-input"
                  formControlName="ExperiencedInElec"
                />
                <label for="elec" class="form-check-label"
                  >خبرة فى الكهرباء</label
                >
              </div>
            </div>

            <!-- ✅ هل لديه خبرة هايبرد -->
            <div class="col-md-4">
              <div class="form-check mt-4">
                <input
                  type="checkbox"
                  id="hybrd"
                  class="form-check-input"
                  formControlName="ExperiencedInHybrd"
                />
                <label for="hybrd" class="form-check-label"
                  >خبرة فى الهايبرد</label
                >
              </div>
            </div>

            <!-- من - إلى -->
            <div class="col-md-4">
              <label class="form-label">من</label>
              <input
                type="time"
                class="form-control custom-input"
                formControlName="FromTime"
              />
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('FromTime')?.touched &&
                  registerForm.get('FromTime')?.invalid
                "
              >
                مطلوب
              </small>
            </div>

            <div class="col-md-4">
              <label class="form-label">إلى</label>
              <input
                type="time"
                class="form-control custom-input"
                formControlName="ToTime"
              />
              <small
                class="text-danger"
                *ngIf="
                  registerForm.get('ToTime')?.touched &&
                  registerForm.get('ToTime')?.invalid
                "
              >
                مطلوب
              </small>
            </div>

            <!-- Checkbox لأيام الأسبوع -->
            <div class="col-12 mt-3">
              <label class="form-label d-block mb-2 fw-bold">الأيام</label>
              <div class="d-flex flex-wrap gap-1">
                <div
                  *ngFor="let day of daysOfWeek; let i = index"
                  class="form-check form-check-inline d-flex align-items-center gap-1"
                >
                  <!-- ✅ الـ Checkbox الأول -->
                  <input
                    type="checkbox"
                    class="form-check-input"
                    [formControl]="dayControls[i]"
                    [id]="day"
                  />

                  <!-- 🏷️ اسم اليوم بعده -->
                  <label class="form-check-label mb-0 me-4" [for]="day">
                    {{ day }}
                  </label>
                </div>
              </div>
              <small
                class="text-danger d-block mt-1"
                *ngIf="
                  registerForm.get('Days')?.touched &&
                  registerForm.get('Days')?.invalid
                "
              >
                يجب اختيار يوم واحد على الأقل
              </small>
            </div>

            <!-- زر التسجيل -->
            <div class="col-12 text-center mt-3">
              <button
                class="btn btn-warning btn-lg py-0"
                [disabled]="isSubmitting"
              >
                {{ isEditMode ? "📝 تعديل" : "➕ تسجيل" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
