.position-relative {
  position: relative;
}

.arrow-icon {
  position: absolute;
  top: 100%; /* تحت الزرار مباشرة */
  right: 50%;
  transform: translateX(50%);
  color: #0d6efd;
  font-size: 1.2rem;
  margin-top: 2px;
  animation: bounce 0.3s ease-in-out;
}

/* حركة بسيطة عند الظهور */
@keyframes bounce {
  0% {
    transform: translateX(50%) translateY(-5px);
  }
  100% {
    transform: translateX(50%) translateY(0);
  }
}

.notification-container .alert {
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

