<div class="container-fluid vh-100 landing position-relative">
  <!-- ✅ قبل تسجيل الدخول -->
  <div class="row h-100 full-bg">
    <div class="col-12 col-md-6 p-0 d-none d-md-block"></div>

    <div
      class="col-12 col-md-6 d-flex align-items-center justify-content-center"
    >
      <div
        class="left-box text-center p-4 w-100 login-box"
        style="max-width: 400px"
      >
        <img
          src="/photos/logo.png"
          alt="Logo"
          class="img-fluid m-0 w-75 w-md-75 w-lg-100"
        />

        <!-- <h2 class="mb-1">تسجيل دخول</h2> -->

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 text-end">
            <label class="form-label">اسم المستخدم</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="اسم المستخدم"
              dir="rtl"
            />
            <div
              *ngIf="
                loginForm.get('username')?.touched &&
                loginForm.get('username')?.invalid
              "
              class="text-danger small mt-1"
            >
              اسم المستخدم مطلوب
            </div>
          </div>

          <div class="mb-3 text-end position-relative">
            <label class="form-label">كلمة المرور</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              class="form-control ps-5 text-end"
              placeholder="كلمة المرور"
              dir="rtl"
            />
            <button
              type="button"
              class="btn btn-link p-0 position-absolute top-50 start-0 translate-middle-x ms-3 mt-1"
              (click)="togglePassword()"
              tabindex="-1"
            >
              <i
                class="bi"
                [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
              ></i>
            </button>
            <div
              *ngIf="
                loginForm.get('password')?.touched &&
                loginForm.get('password')?.invalid
              "
              class="text-danger small mt-1"
            >
              كلمة المرور مطلوبة
            </div>
          </div>

          <div class="d-grid">
            <button
              class="btn btn-warning btn-lg m-0 w-50 mx-auto py-0"
              type="submit"
            >
              {{ isLoading ? "...جاري الدخول" : "دخول" }}
            </button>
          </div>
        </form>
        <div class="mt-auto text-center pt-3 small opacity-75">
          جميع الحقوق محفوظة لمؤسسة الكابتن © 2025
        </div>
      </div>
    </div>
  </div>
</div>
