.kanban-board {
  overflow-x: auto;
  background: #f9fafb;
}

.kanban-column {
  background: #fff;
  min-width: 260px;
  max-width: 280px;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.deal-card {
  background: #fdfdfd;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #eee;
  cursor: grab;
  transition: 0.2s;
}
.deal-card:hover {
  background: #f7f9fc;
  transform: translateY(-2px);
}

.deal-header .priority {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 8px;
}
.priority.High {
  background: #ffe2e2;
  color: #d9534f;
}
.priority.Medium {
  background: #fff3cd;
  color: #856404;
}
.priority.Low {
  background: #d4edda;
  color: #155724;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: -6px;
  border: 2px solid #fff;
}

.card-body .deal {
  position: relative;
  overflow: hidden; /* علشان الصورة المموهة متطلعش بره الزرار */
  font-size: 2.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  &:hover {
    box-shadow: 0px 0px 10px orange;
  }
}

::ng-deep .mat-mdc-tab-labels {
  justify-content: center;
}

::ng-deep .mat-mdc-tab {
  font-weight: bold;
}

::ng-deep .mat-mdc-tab-group {
  --mdc-tab-indicator-active-indicator-color: #007bff;
}

.btn-outline-warning {
  border-color: #ff9800 !important;
  color: #ff9800 !important;
  transition: 0.3s;
}

.btn-outline-warning:hover {
  background-color: #ff9800 !important;
  color: white !important;
}

.ios-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.ios-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ios-switch-control-indicator {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 26px;
  transition: 0.4s;
}

.ios-switch-control-indicator::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.ios-switch input:checked + .ios-switch-control-indicator {
  background-color: #4caf50;
}

.ios-switch input:checked + .ios-switch-control-indicator::before {
  transform: translateX(24px);
}

.switch-label {
  font-weight: bold;
  cursor: pointer;
}

.switch-label.active {
  color: #4caf50;
}
