<div class="container py-1">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card p-2">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div>
            <h3 class="text-center mb-2 fw-bold text-dark">
              {{ isEditMode ? "✏️ تعديل سيارة" : "🚗 تسجيل سيارة" }}
            </h3>
          </div>
          <div>
            <span
              class="position-realtive top-0 end-0 bg-danger text-white rounded-circle px-2 py-1"
              style="cursor: pointer"
              (click)="closeForm.emit()"
            >
              ✖
            </span>
          </div>
        </div>

        <form
          [formGroup]="carForm"
          (ngSubmit)="onSubmit()"
          novalidate
          dir="rtl"
          *ngIf="!showImageUploadSection"
        >
          <div class="d-flex gap-2 flex-wrap mt-2">
            <div
              *ngFor="let img of carImagesPreview; let i = index"
              class="position-relative"
            >
              <img
                [src]="img || defaultCarImage"
                [ngStyle]="{
                  width: i === 0 ? '340px' : '100px',
                  height: i === 0 ? '220px' : '100px',
                  border: i === 0 ? '3px solid green' : '2px solid #ccc',
                  objectFit: 'cover'
                }"
                class="rounded-3"
              />
              <!-- <span
                class="position-absolute top-0 end-0 bg-danger text-white rounded-circle px-1"
                style="cursor: pointer"
                (click)="removeImage(i)"
              >
                ✖
              </span> -->
              <span
                *ngIf="i === 0"
                class="position-absolute bottom-0 end-0 bg-success text-white px-1 rounded-pill"
                style="font-size: 10px"
              >
                رئيسية
              </span>
            </div>
          </div>
          <div class="row g-3 text-end">
            <!-- الموديل -->
            <div class="col-md-4">
              <label class="form-label">الموديل</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="Model"
              />
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('Model')?.touched &&
                  carForm.get('Model')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- نوع السيارة -->
            <div class="col-md-4">
              <label class="form-label">نوع السيارة</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select formControlName="Type">
                  <mat-option
                    *ngFor="let carType of carTypes"
                    [value]="carType"
                  >
                    {{ carType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('Type')?.touched &&
                  carForm.get('Type')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- الماركة -->
            <div class="col-md-4">
              <label class="form-label">الماركة</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select
                  formControlName="BrandId"
                  (selectionChange)="onBrandChange($event.value)"
                >
                  <mat-option *ngFor="let brand of brands" [value]="brand.Id">
                    {{ brand.BrandName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('BrandId')?.touched &&
                  carForm.get('BrandId')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- اللون -->
            <div class="col-md-4">
              <label class="form-label">اللون</label>
              <div class="d-flex align-items-center gap-2">
                <select
                  class="form-select custom-input"
                  formControlName="Color"
                >
                  <option value="" disabled selected>اختر اللون</option>
                  <option *ngFor="let color of colorsList" [value]="color.name">
                    {{ color.name }}
                  </option>
                </select>
                <span
                  class="color-box"
                  [ngStyle]="{
                    backgroundColor: getColorCode(carForm.get('Color')?.value)
                  }"
                ></span>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('Color')?.touched &&
                  carForm.get('Color')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- عدد الكيلومترات -->
            <div class="col-md-4">
              <label class="form-label">عدد الكيلومترات</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="Kilometers"
              />
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('Kilometers')?.touched &&
                  carForm.get('Kilometers')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- ناقل الحركة -->
            <div class="col-md-4">
              <label class="form-label">ناقل الحركة</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select formControlName="Transmission">
                  <mat-option
                    *ngFor="let transmissionType of transmissionTypes"
                    [value]="transmissionType"
                  >
                    {{ transmissionType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('Transmission')?.touched &&
                  carForm.get('Transmission')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- السعر -->
            <div class="col-md-4">
              <label class="form-label">السعر</label>
              <input
                type="number"
                class="form-control custom-input"
                formControlName="Price"
              />
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('Price')?.touched &&
                  carForm.get('Price')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- سنة الصنع -->
            <div class="col-md-4">
              <label class="form-label">سنة الصنع</label>
              <input
                type="number"
                class="form-control custom-input"
                formControlName="YearOfManufacture"
              />
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('YearOfManufacture')?.touched &&
                  carForm.get('YearOfManufacture')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- نوع المحرك -->
            <div class="col-md-4">
              <label class="form-label">نوع المحرك</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select formControlName="EngineType">
                  <mat-option
                    *ngFor="let engineType of engineTypes"
                    [value]="engineType"
                  >
                    {{ engineType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('EngineType')?.touched &&
                  carForm.get('EngineType')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- قوة الحصان -->
            <div class="col-md-4">
              <label class="form-label">قوة الحصان</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="HorsePower"
              />
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('HorsePower')?.touched &&
                  carForm.get('HorsePower')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- عدد الوسائد الهوائية -->
            <div class="col-md-4">
              <label class="form-label">عدد الوسائد الهوائية</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="AirBagCount"
              />
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('AirBagCount')?.touched &&
                  carForm.get('AirBagCount')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- سعة الشنطة -->
            <div class="col-md-4">
              <label class="form-label">سعة الشنطة</label>
              <input
                type="text"
                class="form-control custom-input"
                formControlName="BagCapacity"
              />
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('BagCapacity')?.touched &&
                  carForm.get('BagCapacity')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- الحالة -->
            <div class="col-md-4">
              <label class="form-label">الحالة</label>
              <mat-form-field appearance="outline" class="w-100 custom-outline">
                <mat-select formControlName="Condition">
                  <mat-option value="New">جديدة</mat-option>
                  <mat-option value="Used">مستعملة</mat-option>
                </mat-select>
              </mat-form-field>
              <small
                class="text-danger"
                *ngIf="
                  carForm.get('Condition')?.touched &&
                  carForm.get('Condition')?.hasError('required')
                "
              >
                هذا الحقل مطلوب
              </small>
            </div>

            <!-- ✅ المميزات -->
            <div class="col-12 mt-3">
              <label class="form-label d-block mb-2 fw-bold">المميزات</label>
              <div class="d-flex flex-wrap gap-3">
                <div *ngFor="let feature of features">
                  <ng-container *ngIf="feature.key === 'IsForSale'">
                    <input
                      type="checkbox"
                      class="form-check-input ms-1"
                      [id]="feature.key"
                      [checked]="carForm.get('IsForSale')?.value"
                      (click)="confirmIsForSale($event)"
                    />
                    <label
                      [for]="feature.key"
                      class="badge bg-warning text-dark px-2 py-2 rounded-pill"
                    >
                      {{ feature.label }}
                    </label>
                  </ng-container>

                  <ng-container *ngIf="feature.key !== 'IsForSale'">
                    <input
                      type="checkbox"
                      class="form-check-input ms-1"
                      [formControlName]="feature.key"
                      [id]="feature.key"
                    />
                    <label [for]="feature.key">{{ feature.label }}</label>
                  </ng-container>
                </div>
              </div>
            </div>

            <!-- زر الحفظ -->
            <div class="col-12 text-center mt-3">
              <button
                class="btn btn-warning btn-lg py-0"
                [disabled]="isSubmitting"
              >
                {{ isEditMode ? "متابعة التعديل ⏪" : "متابعة التسجيل ⏪ " }}
              </button>
            </div>
          </div>
        </form>

        <!-- صور السيارة -->
        <div class="col-12 text-center my-2" *ngIf="showImageUploadSection">
          <label class="form-label d-block">📸 صور السيارة</label>
          <input
            type="file"
            accept="image/*"
            multiple
            (change)="onFileSelected($event)"
            class="form-control mb-2"
            dir="rtl"
          />

          <div class="d-flex gap-2 flex-wrap mt-2">
            <div
              *ngFor="let img of carImagesPreview; let i = index"
              class="position-relative"
            >
              <img
                [src]="img || defaultCarImage"
                [ngStyle]="{
                  width: i === 0 ? '150px' : '100px',
                  height: i === 0 ? '150px' : '100px',
                  border: i === 0 ? '3px solid green' : '2px solid #ccc',
                  objectFit: 'cover'
                }"
                class="rounded"
              />
              <span
                class="position-absolute top-0 end-0 bg-danger text-white rounded-circle px-1"
                style="cursor: pointer"
                (click)="removeImage(i)"
              >
                ✖
              </span>
              <span
                *ngIf="i === 0"
                class="position-absolute bottom-0 end-0 bg-success text-white px-1 rounded-pill"
                style="font-size: 10px"
              >
                رئيسية
              </span>
            </div>
          </div>
          <button class="btn btn-success mt-3" (click)="saveCarImages()">
            💾 حفظ الصور
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
